*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #143C3C;
    --primary-black: #152427;
    --primary-gray: #575D5E;

    --header-height: 57px;
    --herder-padding: 26px;
    --header-sticky: 20px;
    --hero-line: 1px;

    --hero-height: calc(100vh - var(--header-height) - var(--header-sticky) - var(--herder-padding) - var(--hero-line));
}


/* Common */
a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__title {
    color: #000;
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: 8px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
    font-family: "Public Sans", sans-serif;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.deco__flower {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.deco__ball {
    position: absolute;
    left: -40px;
    top: 11px;
}

.deco {
    position: absolute;
    top: 2%;
    left: -25%;
}

.deco--rotate {
    position: absolute;
    right: 44px;
    bottom: 14px;
}

.deco--rotate .deco__flower {
    transform: rotate(180deg);
}

.title {
    position: relative;
    margin-left: 46px;
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
}

.title::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -46px;
    content: "";
    display: inline-block;
    height: 1px;
    width: 25px;
    margin: auto 0;
    background: var(--primary-black);
}

.heading {
    max-width: 520px;
    margin-top: 12px;
    color: var(--primary-black);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.234;
}

.heading--line {
    --line-color: #83A17D;

    position: relative;
    margin-top: 0;
    color: #E7F9F9;
}

.heading--line::after {
    position: absolute;
    bottom: 22px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    margin-left: 12px;
    background: var(--line-color);
}

.arrow {
    --bg-color: #fff;

    position: relative;
    display: inline-block;
    height: 2px;
    width: 25px;
    margin-left: 26px;
    background: var(--bg-color);
    cursor: pointer;
    transition: all 0.25s;
}

.arrow::after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 8px;
    width: 8px;
    background: transparent;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: var(--bg-color);
    transform: rotate(45deg);
    right: 0px;
    top: -3px;
    transition: all 0.25s;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line, 2);
    overflow: hidden;
}

.line-clamp.line-3 {
    --line: 3;
}

/* Header */
.header {
    padding-top: 20px;
    font-family: "Public Sans", sans-serif;
    background: #fff;
    z-index: 2;
}

.header--sticky {
    position: sticky;
    top: -20px;
}

.header__body {
    display: flex;
    align-items: center;
    padding: 13px 0;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    margin-right: 69px;
}

.nav__item--active .nav__link {
    font-weight: 600;
    color: var(--primary-black)
}

.nav__item--active .nav__link::after {
    position: absolute;
    bottom: 0;
    left: 19px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 6px 19px;
    color: var(--primary-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556;
}

.nav__link::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


.nav__link:hover {
    color: var(--primary-black);
    font-weight: 600;
}

/* Hero */
.hero {
    font-family: "Public Sans", sans-serif;
}

.hero__line {
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.hero__body {
    display: flex;
    justify-content: space-between;
    min-height: var(--hero-height);
    padding-right: 25px;
}

.hero__content {
    width: 35%;
    flex-shrink: 0;
}

.hero__heading {
    max-width: 368px;
    margin-top: 103px;
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--primary-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.hero__cta-group {
    display: flex;
    gap: 38px;
    margin-top: 42px;
}

.hero__watch {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid transparent;
    background: #fff;
    cursor: pointer;

}

.hero__watch:hover .hero__watch-circle {
    transform: rotate(180deg);
    background: var(--primary-color);

}

.hero__watch:hover .hero__watch-circle::before {
    border-color: #83a17d;
}

.hero__watch:hover .hero__watch-text {
    color: #83a17d;
}

.hero__watch:hover .hero__watch-icon {
    transform: rotate(180deg);
}

.hero__watch-circle {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83A17D;
    transition: all 0.25s;
}

.hero__watch-circle::before {
    position: absolute;
    left: -7px;
    display: inline-block;
    content: "";
    width: 29px;
    height: 58px;
    border: 4px solid var(--primary-color);
    border-right: 0;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}

.hero__watch-text {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero__media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 646px;
}

.hero__bg-circle {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4DBB9A;
    filter: blur(137px);
}

.hero__images {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    gap: 20px;
    height: 87%;
}

.hero__image {
    width: 202px;
    height: 86%;
    border-radius: 999px;
    object-fit: cover;
}

.hero__image:nth-child(2) {
    align-self: flex-end;
}

/* Brands */
.brands {
    margin: 42px 0;
}

.brands__body {
    display: flex;
    align-items: center;
    padding: 0 121px;
    background: #E2EDDF;
    border-radius: 999px;
    height: 201px;
}

.brands-item__google {
    color: var(--primary-color);
    font-size: 3.1rem;
    font-weight: 500;
}

.brands-slack {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 47px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.brands-agworld {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 51px;
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brands-riotinto {
    margin-left: 64px;
    color: var(--primary-color);
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
}

.brands-heroku {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 63px;
    color: var(--primary-color);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
}

/* Service */
.service {
    margin-top: 50px;
    padding: 56px;
}

.service__header {
    display: flex;
    justify-content: space-between;
}

.service__action {
    display: flex;
    gap: 17px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    border: 1px solid transparent;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #E2EDDF;
    cursor: pointer;
    transition: all 0.25s;
}

.service__btn:hover {
    background: #143C3C;
}

.service__arrow,
.service__arrow--reverse{
    --bg-color: #000;
}

.service__arrow {
    margin-left: 0;
}

.service__arrow--reverse {
    transform: rotate(180deg);
}

.service__btn:hover .service__arrow {
    --bg-color: #fff;
}

.service__list {
    display: flex;
    gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
}

.service-item:hover {
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__content {
    border: #fff;
    border-radius: 0 0 20px 20px;
}

.service-item__thumb {
    height: 318px;
    width: 370px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: all 0.25s;
}

.service-item__content {
    padding: 24px 16px;
    border: 1px solid #e2e3e3;
    border-radius: 0 0 20px 20px;
    border-top: 0;
}

.service-item__heading {
    color: var(--primary-black);
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

.service-item__wrap {
    overflow: hidden;
}

.service-item__wrap:hover .service-item__thumb {
    transform: scale(1.2);
}

/* About */
.about {
    margin-top: 50px;
    padding: 50px 0;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
    width: 52%;
    padding-top: 18px;
    flex-shrink: 0;
}

.about__images {
    display: flex;
    gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img--lower {
    margin-top: 90px;
}

.about__deco {
    top: 0;
    left: 46px;
    transform: rotate(12deg);
}

.about-summary {
    position: absolute;
    bottom: 8px;
    right: -4px;
    width: 143px;
    height: 144px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    background: #FFF;
}

.about-summary__heading {
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
}

.about-summary__desc {
    margin-top: 6px;
    color: var(--primary-gray);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-summary__progress {
    position: relative;
    margin: 27px 0 20px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about-summary__progress::before {
    position: absolute;
    top: -16px;
    left: 0;
    content: "40%";
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-summary__progress::after {
    position: absolute;
    right: 0;
    bottom: -17px;
    content: "Loading...";
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-summary__progress-bar {
    width: 42%;
    height: 100%;
    border-radius: 10px;
    background: #83A17D;
}


.about-summary__team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.about-summary__title {
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-summary__list {
    display: flex;
}

.about-summary__person {
    width: 16px;
    height: 16px;
    border: 1px solid #FFF;
    border-radius: 50%;
    object-fit: cover;
}

.about-summary__person+.about-summary__person {
    margin-left: -6px;
}

.about__content {
    padding: 0 2px 0 64px;
}

.about__content-heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: #7D8188;
    font-weight: 500;
    line-height: 1.625;
}

.about__stats {
    display: flex;
    gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;
}

.about__stats-val {
    color: var(--primary-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
}

.about__stats-desc {
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

/* Process */
.process {
    margin-top: 27px;
    padding: 36px 0;
}

.process__heading {
    margin-top: 20px;
}

.process__item {
    display: flex;
    align-items: center;
    height: 185px;
    padding: 30px;
    padding-right: 41px;
    border-bottom: 1px solid #83A17D;
    transition: all 0.25s;
}

.process__item:hover {
    border-radius: 33px;
    background: #E2EDDF;
    border-color: #E2EDDF;
    padding-left: 40px;
    cursor: pointer;
}

.process__item:hover .process__more {
    display: inline-block;
}

.process__order {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7222;
}

.process__item--img {
    position: relative;
    margin-top: 81px;

}

.process__thumb {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__wrap {
    margin-left: 49px;
}

.process__name {
    color: var(--primary-black);
    font-size: 2.2rem;
    font-weight: 600;
}

.process__more {
    display: none;
    margin-top: 22px;
    color: var(--primary-gray);
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
}

.process__desc {
    max-width: 572px;
    margin-left: auto;
    color: #7D8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.project {
    margin-top: 98px;
    padding: 116px 0 63px;
    background: #143C3C;
}

.project__header {
    display: flex;
    align-items: center;
}

.project__infor {
    margin-left: 93px;
}

.project__desc {
    max-width: 590px;
    color: #6A8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.project__browse {
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #FFF;
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55556;

}

.project__arrow {
    z-index: 1;
}

.project__browse:hover {
    color: #6A8383;
}

.project__browse:hover .project__arrow {
    width: 35px;
}

.project__clip {
    position: relative;
    height: 544px;
    margin-top: 65px;
}

.project__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.project__symbol {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

.project__symbol:hover {
    cursor: pointer;
    background: red;
}

.project__icon {
    width: 36px;
    height: 36px;
}

.project__line {
    position: absolute;
    right: -62px;
    top: -165px;
}

.project__ball {
    position: absolute;
    top: -78px;
    right: -60px;

}

/* Features */
.feature {
    margin-top: 100px;
    padding: 40px 0;
    text-align: center;
}

.feature__heading {
    margin: 0 auto;
}

.feature__desc {
    margin: 20px auto 0;
    max-width: 547px;
    color: #7D8188;
    font-weight: 500;
    line-height: 1.625;
}

.feature__list {
    display: flex;
    gap: 45px;
    margin-top: 103px;
}

.feature-item {
    width: 350px;
    height: 362px;
    padding: 12px;
    text-align: center;
    border-radius: 160px;
    border: 2px solid #CECECE;
    transition: all 0.25s;
}

.feature-item:hover {
    cursor: pointer;
    border: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    transform: translateY(-59px);
}

.feature-item__logo {
    margin: 48px auto 0;
}

.feature-item__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc {
    margin: 9px auto 0;
    width: 264px;
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.724;
}

.feature-item__desc--long {
    width: 286px;
}

/* Blog */
.blog {
    margin-top: 100px;
    padding: 44px 0;
}

.blog__heading {
    margin-top: 10px;
    color: var(--primary-black);
    --line-color: var(--primary-black);
}

.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__desc {
    width: 409px;
    color: #7D8188;
    font-weight: 500;
    line-height: 1.625;
}

.blog__list {
    display: flex;
    gap: 30px;
    margin-top: 90px;
}

.blog-item {
    border-radius: 40px;
    transition: all 0.25s;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    transform: translateY(-16px);
}

.blog-item:hover .blog-item__content {
    border: transparent;
}

.blog-item:hover .blog-item__tag {
    background: #143C3C;
    color: #fff;
}

.blog-item__thumb {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.blog-item__content {
    padding: 26px 16px;
    border: 1px solid #b1afaf;
    border-radius: 0 0 40px 40px;
    border-top: 0;
    background: #fff;
}

.blog-item__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 26px;
    background: #E2EDDF;
    border-radius: 20px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    transition: all 0.25s;
}

.blog-item__heading {
    width: 320px;
    margin-top: 20px;
    color: #143C3C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667;
}

.blog-item__heading--short {
    width: 281px;
}

.blog-item__line {
    height: 1px;
    margin-top: 38px;
    background: #C4C4C4;
}

.blog-item__date {
    margin-top: 16px;
    color: var(--primary-gray);
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding: 72px 0 26px;
    background: #143C3C;
}

.footer__infor {
    display: flex;
    justify-content: space-between;
    padding-right: 19px;
}

.footer__data {
    width: 50%;
}

.footer__contact {
    width: 40%;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__form {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 90%;
    margin-top: 25px;
    padding-bottom: 24px;
    border-bottom: 1px solid #6A8383;
}

.footer__input {
    width: 360px;
    padding: 12px 24px 12px 12px;
    border: 1px solid #219191;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1.6rem;
    border-radius: 4px;
}

.footer__input::placeholder {
    color: #6A8383;
    font-weight: 600;
}

.footer__btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.footer__btn:hover .footer__arrow {
    --bg-color: #6A8383;
    width: 35px;
}

.footer__arrow {
    margin: 0;
}

.footer__socials {
    display: flex;
    margin-top: 47px;
    gap: 22px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    color: #fff;
    background: transparent;
    transition: all 0.25s;
}

.footer-social:hover {
    background: #A75325;
    border-color: #A75325;
}

.footer__contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    white-space: nowrap;
}

.footer-col__heading {
    margin-top: 22px;
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556;
}

.footer-col__list {
    margin-top: 6px;
}

.footer-col__link {
    margin-bottom: 36px;
    color: #6A8383;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 2.25;
}

.footer-col__link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer__line {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}

.footer__copyright-text {
    padding: 24px 0 16px;
    color: #9fd3d3;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}