*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}

body {
    height: 7000px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #143C3C;
    --primary-black: #152427;
    --primary-gray: #575D5E;

    --header-height: 57px;
    --herder-padding: 26px;
    --header-sticky: 20px;
    --hero-line: 1px;

    --hero-height: calc(100vh - var(--header-height) - var(--header-sticky) - var(--herder-padding) - var(--hero-line));
}


/* Common */
a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__title {
    color: #000;
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: 8px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
    font-family: "Public Sans", sans-serif;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.deco__flower {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.deco__ball {
    position: absolute;
    left: -40px;
    top: 11px;
}

.deco {
    position: absolute;
    top: 2%;
    left: -25%;
}

.deco--rotate {
    position: absolute;
    right: 44px;
    bottom: 14px;
}

.deco--rotate .deco__flower {
    transform: rotate(180deg);
}

.title {
    position: relative;
    margin-left: 46px;
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
}

.title::before {
    position: absolute;
    top: 2px;
    left: -46px;
    content: "";
    display: inline-block;
    height: 1px;
    width: 25px;
    background: var(--primary-black);
}

.heading {
    max-width: 520px;
    margin-top: 12px;
    color: var(--primary-black);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.234;
}

/* Header */
.header {
    padding-top: 20px;
    font-family: "Public Sans", sans-serif;
    background: #fff;
    z-index: 2;
}

.header--sticky {
    position: sticky;
    top: -20px;
}

.header__body {
    display: flex;
    align-items: center;
    padding: 13px 0;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    margin-right: 69px;
}

.nav__item--active .nav__link {
    font-weight: 600;
    color: var(--primary-black)
}

.nav__item--active .nav__link::after {
    position: absolute;
    bottom: 0;
    left: 19px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 6px 19px;
    color: var(--primary-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556;
}

.nav__link::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


.nav__link:hover {
    color: var(--primary-black);
    font-weight: 600;
}

/* Hero */
.hero {
    font-family: "Public Sans", sans-serif;
}

.hero__line {
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.hero__body {
    display: flex;
    justify-content: space-between;
    min-height: var(--hero-height);
    padding-right: 25px;
}

.hero__content {
    width: 35%;
    flex-shrink: 0;
}

.hero__heading {
    max-width: 368px;
    margin-top: 103px;
    color: var(--primary-black);
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--primary-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556;
}

.hero__cta-group {
    display: flex;
    gap: 38px;
    margin-top: 42px;
}

.hero__watch {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid transparent;
    background: #fff;
    cursor: pointer;

}

.hero__watch:hover .hero__watch-circle {
    transform: rotate(180deg);
    background: var(--primary-color);

}

.hero__watch:hover .hero__watch-circle::before {
    border-color: #83a17d;
}

.hero__watch:hover .hero__watch-text {
    color: #83a17d;
}

.hero__watch:hover .hero__watch-icon {
    transform: rotate(180deg);
}

.hero__watch-circle {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83A17D;
    transition: all 0.25s;
}

.hero__watch-circle::before {
    position: absolute;
    left: -7px;
    display: inline-block;
    content: "";
    width: 29px;
    height: 58px;
    border: 4px solid var(--primary-color);
    border-right: 0;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}

.hero__watch-text {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero__media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 646px;
}

.hero__bg-circle {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4DBB9A;
    filter: blur(137px);
}

.hero__images {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    gap: 20px;
    height: 87%;
}

.hero__image {
    width: 202px;
    height: 86%;
    border-radius: 999px;
    object-fit: cover;
}

.hero__image:nth-child(2) {
    align-self: flex-end;
}

/* Brands */
.brands {
    margin: 42px 0;
}

.brands__body {
    display: flex;
    align-items: center;
    padding: 0 121px;
    background: #E2EDDF;
    border-radius: 999px;
    height: 201px;
}

.brands-item__google {
    color: var(--primary-color);
    font-size: 3.1rem;
    font-weight: 500;
}

.brands-slack {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 47px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.brands-agworld {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 51px;
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brands-riotinto {
    margin-left: 64px;
    color: var(--primary-color);
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
}

.brands-heroku {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 63px;
    color: var(--primary-color);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
}

/* Service */
.service__list {
    display: flex;
    gap: 16px;
    margin-top: 76px;
}

.service-item{
    border-radius: 20px;
}

.service-item:hover {
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__content{
    border: #fff;
    border-radius: 0 0 20px 20px;
}

.service-item__thumb {
    height: 318px;
    width: 370px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: all 0.25s;
}

.service-item__content {
    padding: 24px 16px;
    border: 1px solid #e2e3e3;
    border-radius: 0 0 20px 20px;
    border-top: 0;
}

.service-item__heading {
    color: var(--primary-black);
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

.service-item__wrap {
    overflow: hidden;
}

.service-item__wrap:hover .service-item__thumb {
    transform: scale(1.1);
}